.bg-dark{
    background-color: rgb(17, 151, 228) !important;
}
.nav_text{
    color: white !important; 
}
.nav_text_selected{
    color: yellow;
    font-size: 150%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.form-control{
    color: yellow !important;
}

.container-lg{
    flex: auto !important;
}
.navbar{
    flex: auto !important;
}

.card{
    background-color: rgb(17, 151, 228) !important;
    color: white !important;
    height: 100%;
}

.card-title{
    color: yellow !important;
}

.btn-primary{
    color: yellow !important;
}